@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */
.manrope-bold {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.manrope-semibold {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.manrope-normal {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.covered-by-your-grace-regular {
  font-family: 'Covered By Your Grace', cursive;
  font-weight: 400;
  font-style: normal;
}

/* ******** COMPONENTS ********* */

/* BUTTON */
.reusable-button {
  --b: 3px;
  --s: 0.45em;
  --color: #373b44;
  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 180px;
}

.reusable-button:hover,
.reusable-button:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.reusable-button:active {
  background: var(--color);
  color: #fff;
}

/* SINGUP */
.input-container label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 10px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #6f81a5;
  font-size: 16px;
  line-height: 1;
}

.input-container:focus-within label {
  transform: translate(0, -15px) scale(0.8);
  color: #0a53e4;
}

/* NAVBAR */
.signup {
  background: linear-gradient(to bottom right, rgb(59 130 246), #a855f7);
}

.signup:hover {
  background: linear-gradient(to bottom right, #a855f7, rgb(59 130 246));
}

.profileOption {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px;
  border-radius: 10px;
}

.profileOption:hover {
  background-color: #dddddd7e;
}

/* FOOTER */
.footer {
  background: linear-gradient(
    to bottom right,
    #a955f780,
    rgba(59, 131, 246, 0.477)
  );
}

.footer-socials {
  background: linear-gradient(to bottom right, #a855f7, rgb(59 130 246));
}

/* MOVETOTOP */
.moveToTop {
  animation: bounce alternate-reverse infinite 500ms;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-7px);
  }
}

/* ******** PAGES ********* */

/* HERO */
.gradient-text {
  background: -webkit-linear-gradient(to right, rgb(59 130 246), #a855f7);
  background: linear-gradient(to right, rgb(59 130 246), #a855f7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* PROFILE */
.avatar-socialsContainer {
  background: linear-gradient(to right, #a955f7, rgb(59, 131, 246));
}

.bioContainer {
  background: linear-gradient(to right, rgba(59, 131, 246, 0.397), #a955f761);
}

.bioContainer.title {
  background: -webkit-linear-gradient(to right, #a955f7, rgb(59, 131, 246));
  background: linear-gradient(to right, #a955f7, rgb(59, 131, 246));
  -webkit-background-clip: text;
  background-clip: text;
}

.socialsUpdate-modal {
  background: linear-gradient(to right, #a955f7, rgb(59, 131, 246));
}

.socialsUpdate-modalButton {
  background: linear-gradient(to right, rgb(59, 131, 246), #a955f7);
}

/* BLOG */
.blog-userAvatar {
  background: linear-gradient(to right, rgb(59, 131, 246), #a955f7);
}
